:root {
  --style-color-green: #006039;
  --style-color-gold: #a37e2c;
  --style-color-darkBrown: #212020;
  --style-color-offBlack: #121212;
  --style-color-white: #ffffff;
  --style-color-gray: #4c4c4c;
  --style-color-blue: #0f6296;
  --style-color-darkerBlue: #072e47;
}
