@media (min-width: 600px) {
  .grid__container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (min-width: 1000px) {
  .grid__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 3rem;
  }
}
