@media (min-width: 600px) {
  .roller__item {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .watches__roller-container {
    margin-left: 10%;
  }
  .roller__item {
    width: 25%;
  }
}

/*
@media (min-height: 800px) {
  .roller__img {
    height: 50vh; 
    /*old 40vh*/
/*}
  .roller__img.sidepanel-roller {
    height: 30vh;
  }
}*/
