@media (min-width: 600px) {
  .sidepanel-watches__roller-container {
    margin-left: 2.5rem;
  }
  .roller__item.sidepanel-roller {
    width: 30%;
  }
}

@media (min-width: 1000px) {
  .sidepanel-watches__roller-container {
    margin-left: 4rem;
  }
  .roller__item.sidepanel-roller {
    width: 30%;
  }
  .item__title.sidepanel-roller,
  .item__about.sidepanel-roller {
    font-size: 0.8rem;
  }
}
