@media (min-width: 1000px) {
  .modal-content {
    width: 50%;
  }
}

@media (min-width: 1500px) {
  .modal-content {
    width: 35%;
  }
}

@media (max-height: 600px) {
  .modal {
    overflow: scroll;
  }
}
