/*!--BELOW---styles for when [data-shadow-content] triggers*/
.low-brightness {
  filter: brightness(25%);
}
/*!--ABOVE---styles for when [data-shadow-content] triggers*/

section.watches {
  background-color: var(--style-color-white);
}

.watches__roller-container {
  margin-left: 3%;
}

.roller {
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 0.5rem;
  /* cursor: grabbing; */
}

/* .roller__btn--holder {
  display: none;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.roller__btn {
  font-size: 1rem;
  color: var(--style-color-offBlack);
  border-radius: 5rem;
  border: 2px solid var(--style-color-green);
  padding: 0.8rem 0.9rem;
  transition: all 0.2s ease-in-out;
}

.roller__btn:hover {
  color: var(--style-color-white);
  background-color: var(--style-color-green);
} */

.roller__item {
  display: inline-block;
  margin: 0 0.1rem;
  text-decoration: none;
  width: fit-content;
  overflow: hidden;
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
}

.roller__img {
  border-radius: 1.3rem;
  transform-origin: center;
  transition: all 0.5s ease;
  height: 60vh;
}

.roller__item:hover .roller__img {
  transform: scale(1.1);
}

.item__text--holder {
  position: relative;
  z-index: 10;
  background-color: var(--style-color-white);
}

.item__title {
  color: var(--style-color-offBlack);
  font-family: var(--font-family-bold);
  padding-top: 0.4rem;
}

.item__about {
  color: var(--style-color-offBlack);
}

.roller__dots {
  margin: 1.5rem 0 3rem 0;
}
