/* BELOW - animation on all elements with class = arrow-holder/arrow*/
@keyframes arrowAnimation {
  0% {
    top: 100px;
    opacity: 1;
  }
  100% {
    top: 200px;
    opacity: 0;
  }
}
/* ABOVE - animation on all elements with class = arrow-holder/arrow*/

/* Add Zoom Animation */
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}